@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-off-white tracking-[0.03rem];
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: 100dvh;
  }

  .scroll-stable {
    scrollbar-gutter: stable;
  }

  .text-balance {
    text-wrap: balance
  }
}

@layer components {
  .rich-text h1 {
    @apply font-bold
  }

  .rich-text p {
    @apply mb-3;
  }

  .rich-text p:last-child {
    @apply mb-0;
  }

  .rich-text ul {
    @apply mb-3 list-disc list-inside;
  }

  .rich-text a {
    @apply font-bold
  }
}

@font-face {
  font-family: 'Univers';
  src: url(@/assets/fonts/UniversBold.woff2);
  font-weight: 650;
}

@font-face {
  font-family: 'Univers';
  src: url(@/assets/fonts/UniversRoman.woff2);
  font-weight: 550;
}

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url(@/assets/fonts/AlteHaasGroteskRegular.woff2);
  font-weight: normal;
}
